@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&display=swap");

body {
  font-family: "Quicksand", sans-serif;
  color: rgb(209, 205, 199);
  background-color: rgb(24, 26, 27);
  -webkit-tap-highlight-color: transparent; 
}

#canvas {
    background: rgba(255,255,255, 0.05);
    border-radius: 4px;
    margin: 0 auto;

    transition: all 0.2s ease;
}


.canvas-holder {
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;

}


.toolbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 12px 14px;
    background-color: rgb(31, 31, 31);
    border-radius: 4px;
    position: relative;
    top: -20px;
    transition: all 0.2s ease;

}

.toolbar button {
    border: none;
    background: none;
    outline: none;
    color: #ffffff;
    padding: 14px;
    border-radius: 3px;
    transition: all 0.2s ease;
    font-weight: 800;
}

.toolbar button:hover,
.toolbar button:active {
    background: rgb(36, 36, 36);
}



.rectangle:hover {
    color: rgb(79, 161, 255);
}

.circle:hover {
    color: rgb(250, 145, 185);
}

.sticker:hover {
    color: rgb(255, 194, 81);
}

.emoji:hover {
    color: rgb(255, 231, 93);
}

.background:hover {
    color: #d770ff;
}

.colorbucket:hover {
    color: peachpuff;
}

.delete:hover {
    color: rgb(255, 99, 79);
}

.divider {
    opacity: 0.1;
    margin: 0px 8px;
    cursor: inherit;
}


.publish_image {
    width: 200px;
    margin: 0 auto;
    position: relative;
    top: -100px;
}